.experience {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-left: 2px solid grey;
}

.exp-item {
    padding-left: 1rem;
    margin-bottom: 5rem;
}

.exp-date {
    color: lightgrey;
}

.card-exp {
    max-width: 37rem;
    background-color: black;
}