.experience {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-left: 2px solid grey;
}

li.white-border {
    border-left: 2px solid white;
    padding-left: 1rem;
}

li.margin {
    margin-bottom: 5rem;
}